@font-face {
    font-family: Ubuntu;
    src: url("Ubuntu-Medium.ttf");
}

:root {
    --theme-color:rgb(255, 255, 255);
    --font-color:rgb(0, 0, 0);
    --accent-color:gray;
    --font:Ubuntu;
    --correct:rgb(105, 218, 105);
    --incorrect:rgb(255, 115, 83);
    --progress-color:var(--correct);
}

body {
    background-color: var(--theme-color);
    color:var(--font-color);

    font-family: var(--font);
    text-align:center;

    padding:5vmin;

    transition: 0.2s;
}

h1 {
    margin-top:15vh;
    font-size: calc(max(12vmin, 40px));
}

a {
    text-decoration: none;

    color:rgb(91, 158, 181);
}
a:hover {
    text-decoration: underline;
}

.scrollDown, .quizOption, .startQuiz, #uiMode {
    background-color: transparent;

    font:var(--font);
    color:var(--font-color);

    padding:2vmin;

    border:solid;
    border-width: 1px;
    border-radius: 2vmin;
    border-color:var(--font-color);
    
    box-shadow: 0.5vmin 0.5vmin 0 var(--accent-color);

    transition: 0.2s;
    margin:1vmin
}
.scrollDown:hover, .quizOption:hover, .startQuiz:hover {
    padding:2.5vmin;
}
.scrollDown:active, .quizOption:active, .startQuiz:active, #uiMode:active {

    box-shadow: 0vmin 0vmin 0 gray;
}

.scrollDown {
    margin-bottom:100vh;
    margin-top:5vh;
}

#uiMode {
    position:fixed;
    right:0;
    top:0;
    box-shadow: 0 0 0;
    margin:5vmin;
    border-radius: 100vmin;
    width:8vmin;
    height:8vmin;
    font-size:4vmin;
    padding:0;
    background-color: var(--theme-color);
}
#uiMode:hover {
    background-color: black;
    color:white
}

i {
    text-decoration: underline;
}
b {
    color:red;
}

.quiz {
    background-color: transparent;
    
    padding:2vmin;

    border:solid;
    border-width: 1px;
    border-radius: 2vmin;
    
    margin:2vmin;
}

sub {
    font-size: calc(max(3vmin, 15px));
}

.helpContent {
    max-width:50vw;
    margin: auto;
    margin-top:5vh;
}

/* spacing */

table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
}

thead {
    border-bottom: solid;
}

th, td {
    padding: 20px;
    border:solid;
}
  
table, thead, th, td {
    border-width: 1px;
    border-color:var(--font-color);
}

.pronounciationChart {
    width:25vmin;
    height:25vmin;
    margin:auto;
}

.lyrics {
    background-color: rgb(255, 245, 227);
    padding:2vmin;
    border-radius: 2vmin;
    margin:2vmin;
    color:black;
}
.cite {
    border-top: solid;
    padding-top:2vmin;
    border-width:1px;
}

#progressBar {
    position:fixed;
    left:0;
    top:0;
    margin:2vmin;
}
.progressCircle {
    /* background: conic-gradient(var(--progress-color) 90%, var(--theme-color) 10%); */
    font-family:var(--font);
    border:solid;
    border-radius: 100vmax;
    padding:1vmin;
    margin:1vmin;
    width: 7vmin;
    height:7vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:calc(max(8px, 1.5vmin));
    transition: 0.2s;
    color:var(--font-color);
    transform: rotate(30deg);
}
.progressCircle:hover {
    /* scale: 1.1; */
    font-size: calc(max(12px, 2.25vmin));
}
.progressCircle:active {
    color:var(--theme-color);
}